$componentBackground: #ffffff;
$succesColor: #52c41a;

.container {
  display: flex;
  justify-content: space-between;
  background-color: $componentBackground;
  height: 80px;
  font-size: 18px;
  line-height: 28px;
  padding: 0 22px 0 22px;
}

.titleContainer {
  width: 147px;
  height: 56px;
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.buttonsContainer {
  width: 212px;
  height: 51px;
  margin-top: 16px;
}

.button {
  height: 51px;
  background-color: $componentBackground;
}

.buttonSI {
  text-align: left;
  padding: 0;
  width: 84px;
  margin-right: 19px;
  border: none;
}

.buttonSU {
  color: $succesColor;
  border: 1px solid $succesColor;
  border-radius: 5px;
  width: 109px;
  padding: 0;
}
